html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@media only screen and (max-width: 600px) {
    .personal-standard-input {
        width: 19em;
    }
}

@media only screen and (min-width: 768px) {
    .personal-standard-input {
        width: 28em;
    }
} 

@media only screen and (min-width: 992px) {
    .personal-standard-input {
        width: 40em;
    }
}
@media only screen and (min-width: 1200px) {
    .personal-standard-input {
        width: 47em;
    }
}

@media only screen and (min-width: 1300px) {
    .personal-standard-input {
        width: 49em;
    }
}

@media only screen and (min-width: 1600px) {
    .personal-standard-input {
        width: 55em;
    }
}