@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container">


    @section Karen
    {
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="card" style="width: 18rem;">

                <img src="~/lib/images/oops.png" alt="Meme of a smirking girl in front of a burning house."/>

                <div class="card-body">
                    <h5 class="card-title mb-4">Section Karen</h5>
                    <a class="btn btn-primary" asp-area="" asp-page="/Index">Home</a>
                </div>
            </div>

        </div>
    }


</div>
