@page
@model AboutModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="container">


    @section Karen
    {
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="card" style="width: 18rem;">
                <img src="~/lib/images/oops.png"/>

                <div class="card-body">
                    <h5 class="card-title">Section Karen</h5>
                    <p class="card-text">Not much to say</p>
                    <a class="btn btn-primary" asp-area="" asp-page="/Index">Home</a>
                </div>
            </div>

        </div>
    }


</div>
