@*
    This is a partial view to Pages\Index.cshtml which is connected via await Html.RenderPartialAsync("IndexPartial");
    Although the two pages are in different folders, the framework searches by walking up the directory tree from the
    location of the calling page looking for the file name that you pass in as long as you do not include the file extension,
    until it reaches the root Pages folder
*@
@{
}

<div class="row">
    <div class="mt-2">
        <button class="btn btn-outline-dark ms-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            About
        </button>

        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">About</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <div>
                    This page uses EF Core 7 to display radio-buttons
                </div>
                <div class="row mt-4">
                    <button type="submit" class="btn btn-primary ms-3" style="width: 50px;">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>


