@page
@model MultipleSubmitButtonsBasic.Pages.ProductsPageModel
@{
}

<div class="container">

    <h3 class="text-primary mt-2">@Model.CategoryName</h3>

    <table class="table table-responsive table-info table-bordered table-striped table-responsive-sm mw-100" style="width: 500px">

        <thead>
            <tr>
                <th width="160">
                    @Html.DisplayNameFor(model => model.List[0].ProductName)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.List)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

