@page
@model ConstraintViolationsSamples.Pages.ResultsModel
@{
}
<div class="alert alert-primary shadow mt-2 mb-4" role="alert">
    <h1 class="fs-6 text-center">Posted from Index page</h1>
</div>
Country name <span class="text-danger fw-bold">@Model.CountryName</span>