html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*
    For code in 
    - KarenHtmlHelpers
    - _Layout.cshtml, @Html.AppFooter()
*/
.app-footer {
    position: absolute; /* you’re using the zero-extra-length approach */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.app-footer .container {
    height: 100%;
    /* optional: remove container padding if you want tight height control */
}