@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="alert alert-info shadow w-50" role="alert">
        <span class="fs-2">Telerik samples</span>
    </div>
    <div class="mt-4 fs-4">Samples work but may have extra code that is not required</div>
</div>
