@page
@using Kendo.Mvc.UI
@model TelerikSamples1.Pages.MultiSelectPageTypedModel
@{
}
@{

    var countries = new List<SelectListItem>();
    foreach (var country in Model.CountryList)
    {
        countries.Add(new SelectListItem() {Text = country.Text, Value = country.Value});
    }

}

<div class="container">

    <form method="post" id="form1">

        <input hidden asp-for="@Model.Countries" id="continentsValues"/>

        <div>
            <div class="w-25">

                <label for="select">Select Countries:</label>

                @(Html.Kendo().MultiSelect()
                    .Name("select")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .BindTo(countries)
                    )
            </div>

        </div>

        <div>
            <button id="get" class="btn btn-primary w-25 mt-lg-2">Get selection</button>
        </div>

    </form>

</div>


<script type="text/javascript" src="js/MultiSelectTyped.js"></script>