@page
@using Kendo.Mvc.UI
@model StepperIndexModel
@{
    ViewData["Title"] = "Stepper";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<h1>Stepper</h1>

<div class="container">
    <form method="post" id="form1">
        <input hidden asp-for="@Model.Value" id="stepCurrentValue" />
        @*@Html.HiddenFor(model => model.Value)*@
        @(Html.Kendo().Stepper()
            .Name("stepper")
            .Linear(false)
            //.Orientation(StepperOrientationType.Horizontal)
            //.Label(Model.Label)
            //.Indicator(Model.Indicator)
            .Steps(sf =>
            {
                foreach (var kvp in Model.StepsDictionary)
                {
                    if (kvp.Value)
                    {
                        sf.Add().Label(kvp.Key).Selected(true);
                    }
                    else
                    {
                        sf.Add().Label(kvp.Key);
                    }
                }
            })
            )

        <div class="btn-toolbar mt-lg-5" role="toolbar" aria-label="Toolbar with button groups">

            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button class="nextStep  btn btn-primary">Next Step</button>
                <button class="previousStep  btn btn-secondary">Prior Step</button>
            </div>

        </div>

        <div class="mt-2">
            <input id="OKButton" type="submit" value="Post it" class="btn btn-primary" onclick="setTheCurrentStep();" />
        </div>
    </form>


</div>

<script>
    $(document).ready(function () {
        var select = function (e) {
            if (e.type != "keypress" || kendo.keys.ENTER == e.keyCode) {
                stepper.select($("#stepIndex").val());
            }
        }
        $(".nextStep").click(function (e) {
            stepper.next();            
        });

        $(".previousStep").click(function (e) {
            stepper.previous();
        });
        $(".selectStep").click(select);
        $("#stepIndex").keypress(select);
        
        var stepper = $("#stepper").data("kendoStepper");
    });
    
    function setTheCurrentStep() {
        document.getElementById('stepCurrentValue').value = $("#stepper").data("kendoStepper").selectedStep.options.index;
    }

</script>
