@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="lib/bootstrap-icons/font/bootstrap-icons.min.css"/>
<div class="container mt-4">

    <div class="row">
        <form method="post">
            <button type="submit" class="btn btn-primary me-4" asp-page-handler="Button1"><i class="bi bi-arrow-right"></i>&nbsp;Submit</button>
        </form>

    </div>
</div>