@page
@model NotFoundModel
@{
}
<head>
    <meta charset="UTF-8" />
    <title>Bootstrap 5 404 Error Page</title>
    <link rel="stylesheet" href="css/NotFoundPage.css"/>
</head>

<body>


<div class="content">

    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Your Page not found.</span></p>
        <p class="lead">
            The page you’re looking for does not exist.
        </p>
        <a class="btn btn-dark opacity-50" asp-area="" asp-page="/Index">Home</a>
    </div>

</div>
</body>