@page
@model WebApplication1.Areas.Readme.Pages.readmoreAlternate2


@{
    Layout = "_Layout";
}
<div class="alert alert-primary" role="alert">
    Nothing here yet
</div>

@* @section Scripts
{
    <script src="https://unpkg.com/read-smore@2.0.4/dist/index.umd.js"></script>    
}
 *@


