@page
@model WebApplication1.Areas.Readme.Pages.readmoreAlternate1Model
@{
}
@{
    Layout = "_Layout";
}
<style>
    #more {
        display: none;
    }

    #readMoreButton {
        padding: 5px 60px;
        background-color: green;
        color: white;
        font-size: 20px;
    }

    #dots {
        font-size: 18px;
    }
    .button-shrink {
        color: #65b5f6;
        background-color: transparent;
        border: 1px solid #65b5f6;
        border-radius: 4px;
        padding: 0 16px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .button-shrink:hover {
        transform: scale(0.8);
    }

    ::selection {
        background: aquamarine;
        color: black;
    }

    .custom-text-selection::selection {
        color: white;
    }

</style>


<h1>Example</h1>

<h2>Read More Read Less Button for characters</h2>

<h3 style="color: firebrick">Keep in mind the code is basic for easy of learning</h3>

@* 
 JavaScript is required for changing aria-label for the read more button as simply setting it in mark-up
 there is nothing but your code to toggle the aria-label content.
*@

<hr/>

<p class="custom-text-selection">
    <span id="beforeDots"></span>
    <span id="dots">
        ...
    </span>
    <span id='more'>
        <span id="moreSection"></span>
    </span>
</p>

<button class="button-shrink" id='readMoreButton'></button>

<script>
    const readButton = document.getElementById('readMoreButton');
    const readButtonText = 'Read more';
    const breakAtLength = 137;

    // say this came from a database
    const originalText = 
        'Adding a benefit will also encourage a user to take action. You could, for example,include a benefit like ‘read more and get a free ebook’' +
        'This will inspire your readers to actually click the ‘read more’ button and read in order to get the benefit, especially if they already enjoy the content that they have already interacted with.';


    document.addEventListener('DOMContentLoaded', () => {
        readButton.innerHTML = readButtonText;
        readButton.ariaLabel = 'Read unlimited articles only for today';


        if (originalText.length > breakAtLength) {
            const visibleText = originalText.substr(0, breakAtLength);
            const hiddenText = originalText.substr(breakAtLength);

            document.getElementById('beforeDots').innerHTML = visibleText;
            document.getElementById('moreSection').innerHTML = hiddenText;

        } else {
            /*
             * Display short text and hide read more button - stupid
             */
        }

    });

    readButton.addEventListener('click', function () {

        const dots = document.getElementById('dots');
        const moreText = document.getElementById('more');
        const btnText = document.getElementById('readMoreButton');
   
        if (dots.style.display === 'none') {
            dots.style.display = 'inline';
            readButton.innerHTML = readButtonText;
            readButton.ariaLabel = 'Read unlimited articles only for today';
            moreText.style.display = 'none';

        } else {
            dots.style.display = 'none';
            btnText.innerHTML = 'Read less';
            readButton.ariaLabel = 'Hide unlimited articles only for today';
            moreText.style.display = "inline";
        }
    });


</script>