@page
@model ToastPageModel
@{
    ViewData["Title"] = "Toast";
}



<div class="container">
    <h1 class="fs-4">@ViewData["Title"]</h1>
    <form method="post">
        <div class="d-grid gap-2">
            <input type="submit" class="btn btn-success" style="width: 250px" value="Success" asp-page-handler="SuccessNotification" />
            <input type="submit" class="btn btn-info" style="width: 250px" value="Information" asp-page-handler="InformationNotification" />
            <input type="submit" class="btn btn-warning" style="width: 250px" value="Warning" asp-page-handler="WarningNotification" />
            <input type="submit" class="btn btn-danger" style="width: 250px" value="Error" asp-page-handler="ErrorNotification" />
            <input type="submit" class="btn btn-secondary" style="width: 250px" value="Custom" asp-page-handler="CustomNotification" />
        </div>
    </form>
</div>
