<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2023.1.117(AdditionalPackages)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core R1 2023\" />
    <add key="Telerik UI for ASP.NET Core 2023.1.117(MainPackage)" value="C:\Program Files (x86)\Progress\Telerik UI for ASP.NET Core R1 2023\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>