@page
@model Bootstrap5OffCanvasExample.Pages.AboutModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card shadow rounded-1">
                <div class="card-body  bg-light">
                    From off canvas
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <a class="btn btn-primary" asp-area="" asp-page="/Index">Home</a>
        </div>
    </div>
</div>
