@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="js/ClaimsProgressbar.js"></script>

<div class="container-md">
    <div class="row">
        <div class="col-6">
            <div class="card shadow rounded-1">
                <div class="card-body  bg-light">
                    Bootstrap off canvas and progress bar
                </div>
            </div>
        </div>
    </div>

    <form method="post">
        @* off-canvas *@

        @{
            await Html.RenderPartialAsync("IndexPartial");
        }

    </form>




</div>

