@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    #session.label {
        float: left;
    }

    #session.span {
        display: block;
        overflow: hidden;
        padding: 0px 4px 0px 6px;
    }

    #session.input {
        width: 70%;
    }
</style>

<div class="container">
    <div class="alert alert-primary" role="alert">
        <h1 class="fs-5">Welcome</h1>
    </div>

    <form method="post">
        
        <label for="txtSessionName">Session</label>
        <input type="text" id="txtSessionName" name="SessionName" value="Person" />

        <div class="row mb-3">
            <div class="col-auto"><input type="submit" value="Get" class="btn btn-primary" asp-page-handler="CreateSession"/></div>
        </div>

        <label class="form-label" for="current">Status</label>
        <div class="row">
            <input class="form-control" style="width: 5.5em" id="current" value=@ViewData["Message"] />
        </div>


        
        <label asp-for="SessionTimeout">Session timeout:</label>
        <span>
            <input asp-for="SessionTimeout" readonly style="width: 3.5em" class="text-end" value="" />
        </span>
    </form>
</div>



<script src="/_framework/aspnetcore-browser-refresh.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        navigator.geolocation.getCurrentPosition(position => {
            console.log(position.coords.latitude);
            console.log(position.coords.longitude);
        });
        navigator.geolocation.watchPosition(position => {
            console.log(position);
        });
    });
</script>

@* @if (ViewData["Message"] != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert('@ViewData["Message"]');
        };
    </script>
}
else
{
    <script>
        console.log('here');
    </script>
} *@