@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <form id="currentForm" method="post">

        <input type="hidden" asp-for="LettuceCheckbox" id="check1" />
        <input type="hidden" asp-for="TomatoCheckbox" id="check2" />
        <input type="hidden" asp-for="MustardCheckbox" id="check3" />
        <input type="hidden" asp-for="SproutsCheckbox" id="check4" />

        <div id="id-group-label" class="alert alert-primary bg-warning bg-opacity-25" role="alert">
            Sandwich Condiments
        </div>

        <div role="group" aria-labelledby="id-group-label" id="main-content">

            <ul class="checkboxes">
                @{
                    int id = 1;
                    foreach (var container in Model.List)
                    {

                        string name = $"Checkbox{id}";

                        <li>
                            <div role="checkbox"
                                 id="@name"
                                 aria-checked="@container.Checked"
                                 name="grouped-checked-boxes"
                                 tabindex="0">
                                @container.Text
                            </div>
                        </li>

                        id++;

                    }
                }
            </ul>

        </div>

        <button id="btn-submit" class="w-25 btn btn-outline-primary mt-3" type="submit">Submit</button>


    </form>

    @*<p id="log"></p>*@

</div>

@section scripts{
    <script>

        $(this).on('keydown', function (event) {
            if (event.key === '0' && event.altKey) {
                $("#skipper").focus();
            }
        });

        // keyboard shortcut for setting focus to submit button by id
        $(this).on('keydown', function (event) {
            if (event.key === 'q' && event.ctrlKey) {
                $("#btn-submit").focus();
            }
        });

        function logSubmit(event) {

            //log.textContent = `Form Submitted! Timestamp: ${event.timeStamp}`;

            var checkBoxes = document.querySelectorAll('.checkboxes [role="checkbox"]');

            for (var index = 0; index < checkBoxes.length; index++) {
                //console.log(checkBoxes[index].id + ' checked: ' + checkBoxes[index].ariaChecked);
            }

            document.getElementById("check1").value = checkBoxes[0].ariaChecked;
            document.getElementById("check2").value = checkBoxes[1].ariaChecked;
            document.getElementById("check3").value = checkBoxes[2].ariaChecked;
            document.getElementById("check4").value = checkBoxes[3].ariaChecked;
            
        }

        const form = document.getElementById("currentForm");
        const log = document.getElementById("log");
        form.addEventListener("submit", logSubmit);

    </script>
}