@page "{lang:=en}"
@model IsolationWebApp.Pages.AboutModel
@{
}

<link rel="stylesheet" href="~/@(nameof(IsolationWebApp)).styles.css" />

<div>
    <h6>About</h6>
</div>

<h6 class="spread2">I have an isolated style sheet</h6>

<div class="text-center">

    <div id="Demo">This 'div' is styled using the CSS border-color. Try changing the value to see the effect it has on the border color.</div>

    @{
        <p><kbd>@Model.Language</kbd></p>
    }



</div>



