@*
    This is a partial view to Pages\Index.cshtml which is connected via await Html.RenderPartialAsync("IndexPartial");
    Although the two pages are in different folders, the framework searches by walking up the directory tree from the
    location of the calling page looking for the file name that you pass in as long as you do not include the file extension,
    until it reaches the root Pages folder
*@
@{
}


<div class="row">
    <div class="mt-2">
        <button class="btn btn-primary" style="width: 226px" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMain" aria-controls="offcanvasMain">
            About
        </button>

        <div class="offcanvas offcanvas-end"  tabindex="-1" id="offcanvasMain" aria-labelledby="offcanvasMainLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasMainLabel">About</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <div>
                    Try hard succeed. We are extra cool everyday dancing. We will not try to bow and go. We are extra cool everyday dancing. We will not try to bow and go. Some women should cry. This generator should be used and succeed. Try hard to achieve everything succeed. We are dancing. We are dancing. Some women should cry. Indeed so. Indeed so. Indeed so. Indeed so. We are extra cool dancing. Try hard to achieve everything succeed. Indeed so. Some women should never willingly cry. Indeed so.
                </div>
                <div class="row mt-4">
                    <button type="submit" class="btn btn-primary" asp-page-handler="Button1">Go to About page</button>
                </div>
            </div>
        </div>
    </div>
</div>


