@page
@using RadioButtonsExample.Models
@model CategoriesPageModel
@{
}


<div class="container">
    
    <form class="form-group border border-info p-2" method="post" style="width: 300px;">
        <div role="radiogroup" >
            @foreach (Categories? category in Model.Categories)
            {
                <div class="form-check">
                    @{
                        <input id="@category.CategoryID"
                               type="radio"
                               name="Identifier"
                               value="@category.CategoryID" />
                    }

                    <label for="@category.CategoryID">@category.CategoryName</label>
                </div>
            }
        </div>
        
        <div class="form-group mt-2 ms-4">
            <div>
                <button type="submit" class="btn btn-outline-dark">Enter</button>
            </div>
        </div>
    </form>


</div>     