@page
@model RadioButtonsExample.Pages.Form2Model
@{
}
<h1 class="fs-3">Hello</h1>
<fieldset>
    <legend>
        legend
    </legend>
    <div>
        <input type="radio" name="bestPractices" id="ariaLabel" value="True" />
        <label for="ariaLabel">ARIA role</label>
    </div>
    <div>
        <input type="radio" name="bestPractices" id="htmllabel" value="False" />
        <label for="htmllabel">HTML</label>
    </div>
</fieldset>
