@page
@model Form1Model
@{
}

<link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>

<style>
    .swal-wide {
        width: 650px !important;
    }
</style>

<title>Form 1</title>

<h1 class="fs-3 ms-2" style="display: none">Code sample</h1>

<div class="container">

    <h2 class="fs-4">@ViewData["header"]</h2>

    <form class="form-group" method="post">

        <div class="form-group">
            <label for="firstName" class="col-sm-2">Name</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control w-25" value="@Model.Introduction.Name" name="Name" id="firstName" placeholder="First name">
            </div>
        </div>

        <div class="form-group">
            <label for="Surname" class="col-sm-2">Surname</label>
            <div class="col-sm-10">
                <input type="text"  class="form-control w-25" name="Surname" id="Surname" placeholder="Last name">
            </div>
        </div>
        
            <fieldset aria-label="Gender types">

                <legend>Gender</legend>

                <div role="radiogroup" >
                    @foreach (string gender in Model.Genders)
                    {
                        <div class="form-group row">
                            <div class="col">

                                <input asp-for="Gender" 
                                       type="radio" 
                                       aria-label="@gender type" 
                                       name="option" 
                                       value="@gender" 
                                       id="Gender@(gender)"/>

                                <label class="form-check-label"
                                       aria-label="@gender type"
                                       for="Gender@(gender)">
                                    @gender
                                </label>

                            </div>
                        </div>
                    }

                </div>
            </fieldset>


  



        <div class="form-group mt-2">
            <div class="col-sm-10">
                <button type="submit" aria-label="Process button" class="btn btn-outline-dark">Enter</button>
            </div>
        </div>

    </form>
</div>



