@page
@model RadioButtonsExample.Pages.PizzaCrustPageModel
@{
}
<link rel="stylesheet" href="css/PizzaCrust.css" />
<script type="text/javascript" src="js/RadioGroupWidget.js"></script>

<div class="container">

    <h1 class="fs-3 bg-dark  bg-opacity-50 text-white p-2">aria-checked example</h1>
    
    @* fieldset is best for screen readers *@

    <div class="mt-4">

        <fieldset>

            <div role="radiogroup" class="border w-50" aria-labelledby="group_label_1" id="rg1">

                <legend id="group_label_1" class="fs-3 fw-bold">Pizza Crust</legend>
                
                <div role="radio" aria-checked="false" tabindex="0">Regular crust</div>
                <div role="radio" aria-checked="false" tabindex="-1">Deep dish</div>
                <div role="radio" aria-checked="false" tabindex="-1">Thin crust</div>

            </div>

        </fieldset>

        <div role="radiogroup" class="border w-50" aria-labelledby="group_label_2" id="rg2">

            <h3 id="group_label_2">Pizza Delivery</h3>

            <div role="radio" aria-checked="false" tabindex="0">Pickup</div>
            <div role="radio" aria-checked="false" tabindex="-1">Home Delivery</div>
            <div role="radio" aria-checked="false" tabindex="-1">Dine in</div>

        </div>
    </div>

</div>

