@page
@model RadioButtonsExample.Pages.RadioButton2Model
@{
}

<link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>

<style>
    .swal-sm {
        width: 250px !important;
    }
</style>

<div class="container mt-4">

    <form method="post" tabindex="0">

        <div>

            @foreach (string gender in Model.Genders)
            {
                <div class="form-check">

                    <input type="radio"
                       class="form-check-input"
                       asp-for="Gender"
                       value="@gender"
                       aria-description="@gender"
                       id="Gender@(gender)" />

                    <label class="form-check-label" for="Gender@(gender)">@gender</label>

                </div>

            }

        </div>

        <div>
            <input type="submit" value="Submit.." class="btn btn-primary mt-2" aria-description="submit your response" />
        </div>

    </form>


</div>

@if (ViewData["Selected"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            
            Swal.fire({
                icon: 'info',
                title: '@ViewData["Selected"]',
                customClass: 'swal-sm',
                showConfirmButton: false,
                timer: 1500
            })
        };
    </script>
}
