@page
@model RadioButtonsExample.Pages.SampleModel
@{
}
<h1 class="fs-3">Simple inline demo</h1>

<form>
    <input name="colour" value="blue" id="choice1" type="radio">
    <label for="choice1"> Blue</label>

    <input name="colour" value="green" id="choice2" type="radio">
    <label for="choice2"> Green</label>
    
    <input name="colour" value="green" id="choice3" type="radio">
    <label for="choice3"> Red</label>

</form>

