@page
@model FriendlyRoutesApp.Pages.Under.PostModel
@{
}
<div class="alert alert-primary" role="alert">
    Post
</div>
<div class="row">
    <div class="col-1 p-0 text-end fw-bold">Title</div>
    <div class="col-3">@Model.Title</div>
</div>

<div class="row">
    <div class="col-1 p-0 text-end fw-bold">Date</div>
    <div class="col-3">@Model.SomeDate</div>
</div>