@page
@model SkipLinkApplication.Pages.AboutModel
@{
}

<style>
    .card {
        flex-direction: row;
    }
    .card img {
        height: 20%
    }

    a:hover {
        color: black;
    }
</style>
<link rel="stylesheet" href="~/lib/StyleSheet.css" />


<div class="alert alert-dark" role="alert">
    <h1 class="fs-6">Lots of content to demo skip link</h1>
</div>

@{
    for (int index = 0; index < 6; index++)
    {
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras sed felis eget velit aliquet. Semper quis lectus nulla at volutpat diam ut. Purus sit amet volutpat consequat mauris nunc congue nisi vitae. Consectetur a erat nam at lectus urna duis convallis convallis. Viverra orci sagittis eu volutpat odio facilisis mauris. Suspendisse potenti nullam ac tortor vitae purus. Egestas tellus rutrum tellus pellentesque. At auctor urna nunc id cursus metus aliquam. Diam quis enim lobortis scelerisque fermentum dui faucibus in ornare. Rhoncus mattis rhoncus urna neque. Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Elementum nisi quis eleifend quam adipiscing vitae. Enim ut sem viverra aliquet eget sit amet tellus. Quis auctor elit sed vulputate mi sit. Turpis egestas sed tempus urna et pharetra pharetra massa. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in. In fermentum posuere urna nec tincidunt praesent semper feugiat. Tellus mauris a diam maecenas sed.
        </p>        
    }
}



<div class="container" id="main-content">

    <div class="card mt-lg-5" style="width: 50rem;">

        <img src="images/earth.png" alt="Earth">

        <div class="card-body">

            <h2 class="card-title fs-4">Earth</h2>
            
            <div class="card-text mt-3 mb-3">
                <strong>Frank Borman - One World</strong><br/><br/>
                The view of the earth from the moon fascinated me - a small disk, 240,000 miles away. It was hard to think that that
                little thing held so many problems, so many frustrations. <br/><br/>
                Raging nationalistic interests, famines, wars,
                pestilence don't show from that distance. I'm convinced that some wayward stranger in a space-craft, coming
                from some other part of the heavens, could look at earth and never know that it was inhabited at all. But the
                same wayward stranger would certainly know instinctively that if the earth were inhabited, then the destinies of all
                who lived on it must inevitably be interwoven and joined. We are one hunk of ground, water, air, clouds, floating around in space.
                From out there it really is 'one world'.
            </div>

            <form method="post">
                <button type="submit" class="btn btn-primary" asp-page-handler="Button1">Home</button>
            </form>

        </div>

    </div>

</div>

@section customFooter
{
    <div class="container">
        <button id="backHome" class="fill"><a asp-fragment="top"  aria-label="Back to top">Back to top</a></button>

    </div>
}

@section scripts{
    <script>
        
        document.addEventListener("keydown", function onPress(event) {
            if (event.key === '0' && event.altKey) {
                $("#skipper").focus();
            }
        });

        document.getElementById("backHome").addEventListener("click", function () {
            window.scrollTo({ top: 0 });
        });

    </script>
}