@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1 class="display-6">Conditional logging with SeriLog</h1>
    <ul>
        <li>From json</li>
        <li>From database</li>
    </ul>
</div>


