@page
@model IndexModel
@{
    
}
<div class="container">

    <div class="alert alert-primary shadow mt-2 mb-4" role="alert">
        <h1 class="fs-6 text-center">Hours</h1>
    </div>

    <form id="main" method="post">

        <label for="startHours">Select a time</label>

        <select name="StartTime" id="startHours"
                class="form-select"
                style="width: 9.2em"
                asp-for="StartTime"
                asp-items="@Model.StartHoursList">
        </select>


        <input type="submit"
               value="Save"
               asp-page-handler="Submit"
               class="btn btn-primary"/>


    </form>
</div>