@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<wrapper class="d-flex flex-column min-vh-100">

    <main class="flex-fill d-flex align-items-center">
        <div class="container-fluid text-center">API Key <span class="text-info fw-bold">@Model.SecretKey</span> </div>
    </main>

</wrapper>



