USE [master]
GO
/****** Object:  Database [EF.EncryptPropertyValues]    Script Date: 2/18/2023 2:39:06 PM ******/
CREATE DATABASE [EF.EncryptPropertyValues]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EF.EncryptPropertyValues', FILENAME = N'C:\Users\paynek\EF.EncryptPropertyValues.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EF.EncryptPropertyValues_log', FILENAME = N'C:\Users\paynek\EF.EncryptPropertyValues_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EF.EncryptPropertyValues].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EF.EncryptPropertyValues]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/18/2023 2:39:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Password] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Password]) VALUES (1, N'Constance', 0x61006B00780055006B0042006700300050005400)
INSERT [dbo].[User] ([Id], [Name], [Password]) VALUES (2, N'Rose', 0x5300740050003300340072004B00490042007800)
INSERT [dbo].[User] ([Id], [Name], [Password]) VALUES (3, N'Velma', 0x4C007A006F007700790032004600670057003000)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
