USE [master]
GO
/****** Object:  Database [EnumDatabase]    Script Date: 11/22/2023 3:39:52 AM ******/
CREATE DATABASE [EnumDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnumDatabase', FILENAME = N'C:\Users\paynek\EnumDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnumDatabase_log', FILENAME = N'C:\Users\paynek\EnumDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnumDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnumDatabase]
GO
/****** Object:  Table [dbo].[MiscSettings]    Script Date: 11/22/2023 3:39:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiscSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[TheEnumId] [int] NOT NULL,
 CONSTRAINT [PK_MiscSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheEnum]    Script Date: 11/22/2023 3:39:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheEnum](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_TheEnum] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MiscSettings] ON 

INSERT [dbo].[MiscSettings] ([Id], [Name], [TheEnumId]) VALUES (1, N'First setting', 2)
INSERT [dbo].[MiscSettings] ([Id], [Name], [TheEnumId]) VALUES (2, N'Second setting', 3)
SET IDENTITY_INSERT [dbo].[MiscSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[TheEnum] ON 

INSERT [dbo].[TheEnum] ([Id], [TypeName], [Description]) VALUES (1, N'One', N'First')
INSERT [dbo].[TheEnum] ([Id], [TypeName], [Description]) VALUES (2, N'Two', N'Second')
INSERT [dbo].[TheEnum] ([Id], [TypeName], [Description]) VALUES (3, N'Three', N'Third')
SET IDENTITY_INSERT [dbo].[TheEnum] OFF
GO
USE [master]
GO
