@page
@model NewPasswordExample.Pages.NewPasswordFormModel
@{
}
<style>
    .validation-summary-valid {
        display: none;
    }
</style>
<form method="post" style="width: 62em">
    <h1 class="fs-5">Enter password</h1>
    
    <div asp-validation-summary="All">
        <span class="fw-bold text-danger">Please correct the following</span>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <label asp-for="PasswordForm.Password"></label>

            <input asp-for="PasswordForm.Password"
                   class="form-control mb-2"
                   aria-required="true"/>

            @*<span asp-validation-for="PasswordForm.Password" class="text-danger"></span>*@
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <label asp-for="PasswordForm.NewPassword"></label>

            <input asp-for="PasswordForm.NewPassword"
                   class="form-control mb-3 me-4"
                   aria-required="true"/>

            @*<span asp-validation-for="PasswordForm.NewPassword" class="text-danger"></span>*@
        </div>
    </div>

    <div class="row mt-2">
        <div>
            <button type="submit" value="Save" class="btn btn-primary" style="width: 8.5em">Save</button>
        </div>
    </div>

</form>
