@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form class="mt-lg-4 mb-3">

    <div class="row">
        <div class="col fw-bold">
            Keys overridden
        </div>
    </div>

    <div class="row w-25">
        <ul class="list-group">
            <li class="list-group-item"><kbd>alt</kbd> + <kbd>a</kbd>&nbsp; open about page</li>
            <li class="list-group-item"><kbd>alt</kbd> + <kbd>0</kbd>&nbsp;  skip link</li>
            <li class="list-group-item"><kbd>ctrl</kbd> + <kbd>q</kbd> &nbsp; Submit form</li>
            <li class="list-group-item"><kbd>alt</kbd> + <kbd>🡒</kbd>&nbsp; kills it</li>
            <li class="list-group-item"><kbd>F5</kbd>&nbsp; kills it</li>
        </ul>
    </div>
</form>