@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="form-group mt-5">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <i class="bi bi-exclamation-circle me-2"></i> About
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    This page is for setting a combination for a hot key that resides in local storage. Currently the hot key only works on this page but with little effort it will work on all pages of this application. Why does this not apply to other pages now? Because the project is an experiment and code used here will be used in another project that will have each page using the same hot key.
                </div>
            </div>
        </div>


    </div>
</div>
