@page
@model SimpleModelBinding.Pages.AriaLivePolitePageModel
@{
}

<script src="js/limiter.js"></script>
<div class="container">

    <h1 class="fs-5">Aria live with character watcher on input</h1>

    <div class="alert  w-25" role="alert">
        list for testing
        <ul class="list-group">
            <li class="list-group-item border-0">12345</li>
            <li class="list-group-item border-0">1234567890</li>
            <li class="list-group-item border-0">1234567890A</li>
        </ul>
    </div>

    <form method="post" role="form" id="testForm" autocomplete="off">

        <input type="hidden" asp-for="Name" id="nameValue"/>
        <input type="hidden" asp-for="MaxLength" id="maxLength"/>

        <div class="row">
            <div class="form-group">
                <label for="name" class="col-sm-2">Name</label>
                <div>
                    <input type="text"
                           class="form-control"
                           style="width: 15em"
                           id="name">
                </div>
                <div>
                    You have
                    <strong>
                        <span id="nameCounter">
                            <span id='displayMax'></span>
                        </span>
                    </strong> characters left
                </div>
            </div>
        </div>

        <div class="row">
            <div id="app" aria-live="polite"></div>
        </div>

        <div class="row mt-3">
            <button id="btnSubmit" class="btn btn-primary w-25">Post</button>
        </div>
    </form>


</div>

@section Scripts
    {
    <script type="text/javascript">

        // input to watch 
        var input = document.querySelector('#name');
        // aria-live div which shows characters left
        var app = document.querySelector('#app');


        // mock up form post
        $('form').submit(function (e) {

            var currentLength = document.querySelector('#name').value.length;
            var currentValue = document.querySelector('#name').value;
            document.getElementById("maxLength").value = $limiter.allowLength();
            document.getElementById("nameValue").value = document.getElementById("name").value;

            if (currentLength > $limiter.allowLength()) {
                e.preventDefault();
                alert(`You can only use ${$limiter.allowLength()} characters, you used ${currentLength}`);
            } else if (currentLength === 0) {
                e.preventDefault();
                alert('Nothing entered');
            } else {
                document.getElementById("testForm").submit();
            }

        });

        input.addEventListener("keypress", (event) => {
            event.returnValue = $limiter.watchLimit();
        });

        // document load
        document.addEventListener('DOMContentLoaded', () => {
            $limiter.init(input, app, parseInt(document.getElementById('maxLength').value));
            input.addEventListener('paste', $limiter.pasteEvent);
            document.getElementById('displayMax').innerText = $limiter.allowLength();


            //--------------------------------------------------------------------------
            //var elem = document.createElement('div');
            //elem.id = 'newDiv';
            //elem.className = 'container border border-danger';
            //elem.style.cssText = 'width:12em';
            //elem.role = 'main';
            ////document.body.appendChild(elem);
            //document.body.prepend(elem);

            //var input1 = document.createElement("input");
            //input1.type = "text";
            //input1.id = 'justAdded';
            //input1.name = 'peep';

            //input1.className = "form-control ms-1 mt-3"; // set the CSS class
            //input1.style.cssText = 'width:10em';
            ////document.appendChild(input1); // put it into the DOM
            ////elem.insertAdjacentElement('beforeend', input1);
            //document.body.prepend(input1);
            //--------------------------------------------------------------------------

        });


        input.addEventListener("keyup", function () { $limiter.watchCount(input, 'nameCounter'); }, false);
        input.focus();

    </script>
}
