@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <p class="text-info">Simple form binding</p>
    <ul>
        <li><span class="fw-bold">Form1</span> Without binding properties</li>
        <li><span class="fw-bold">Form2</span> With binding properties on page model</li>
        <li>No validation, pure and simple</li>
    </ul>
</div>
