@page
@model PreventDoublePostBack.Pages.AboutModel
@{
}

<div class="position-absolute top-50 start-50 translate-middle">
    
    <div class="card bg-light shadow" style="width: 18rem;">
        <h1 class="fs-5 ms-3 mt-1">About</h1>
        <div class="card-body">
            <p class="card-text" aria-label="Example to prevent double post">Example to prevent double post</p>
        </div>
    </div>
</div>

