@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="fs-5 text-success">Personal information</h1>
<form method="post" id="demoForm"
      class="needs-validation was-validated"
      novalidate=""
      autocomplete="off">

    <table class="table-sm">
        <tr>
            <td style="vertical-align: top;">
                <label for="txtFirstName">First Name:</label>
            </td>
            <td>
                <input type="text" 
                       class="form-control" 
                       id="txtFirstName" 
                       name="FirstName" 
                       value="Karen" 
                       required/>
                <div class="invalid-feedback">Please enter your first name</div>
            </td>
        </tr>

        <tr>
            <td style="vertical-align: top;">
                <label for="txtLastName">Last Name:</label>
            </td>
            <td>
                <input type="text" 
                       class="form-control" 
                       id="txtLastName" 
                       name="LastName" 
                       value="Payne" 
                       required/>
                <div class="invalid-feedback">Please enter your last name</div>
            </td>
        </tr>

        <tr>
            <td>
                @**@
            </td>
            <td>
                <input type="submit" 
                       value="Submit" 
                       id="postButton" 
                       class="btn btn-primary float-end mt-2 submitBtn"/>
            </td>
        </tr>

    </table>
</form>


@section Scripts
    {
    <script type="text/javascript" src="js/index.js"></script>
}
@if (ViewData["JavaScript"] != null)
{
    <script>
        @Html.Raw(ViewData["JavaScript"]);
    </script>
}
