@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p id="main-content">Personal information may be required to use certain features of our websites, such as making a purchase from our online shop, submitting a request to the Ask a Librarian service, responding to a feedback form, or participating in blog discussions. If you choose to use those features, we will inform you what information is required, and we will only use that information for its stated purpose. If you provide the information requested, then you consent to our using the information for the stated purpose. If you do not provide the information then some website features may be unavailable. We may disclose your information to contractors and associates to carry out your requests.</p>
