<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarsupportedcontent"
                        aria-expanded="false" aria-label="toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark text-capitalize" asp-area="" asp-page="/index">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-capitalize" asp-area="" asp-page="/UnorderedList">Unordered List</a>
                        </li>
                        @*                         <li class="nav-item">
                        <a class="nav-link text-dark text-capitalize" asp-area="" asp-page="/tables1">tables1</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark text-capitalize" asp-area="" asp-page="/tables2">tables2</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark text-capitalize" asp-area="" asp-page="/FontWeightAccessibility">FontWeightAccessibility</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark text-capitalize" asp-area="" asp-page="/index1">cookie</a>
                        </li> *@

                        @*                         <li class="nav-item">
                        <a class="nav-link text-dark text-capitalize" asp-area="Readme" asp-page="/readmoreRight">Read more</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link text-dark text-capitalize" asp-area="" asp-page="/Examples2">Examples2</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link text-dark text-capitalize" asp-area="Readme" asp-page="/readmoreAlternate1">Read more example</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-capitalize" asp-page="/debuggerTesting">debug Test</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-capitalize" asp-page="/debuggerTestingRight">debug right</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            <environment include="Development">
                Code sample | <span id="app-footer-span" class="ms-3"></span>
            </environment>
            <environment include="Staging,Production">
                Code sample
            </environment>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>