<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WinFormsApp1.Properties.Settings.NorthWind2022ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=NorthWind2022;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <WinFormsApp1.Properties.Settings>
            <setting name="ArrayOfString" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Test 1</string>
                        <string>Test 2</string>
                        <string>Test 3</string>
                    </ArrayOfString>
                </value>
            </setting>
        </WinFormsApp1.Properties.Settings>
    </userSettings>
</configuration>