<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormsApp1.Properties.Settings.NorthWind2022ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=NorthWind2022;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>