USE [master]
GO
/****** Object:  Database [ApplicationConfigurations]    Script Date: 1/31/2023 12:12:04 PM ******/
CREATE DATABASE [ApplicationConfigurations]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApplicationConfigurations', FILENAME = N'C:\Users\paynek\ApplicationConfigurations.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ApplicationConfigurations_log', FILENAME = N'C:\Users\paynek\ApplicationConfigurations_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApplicationConfigurations].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApplicationConfigurations]
GO
/****** Object:  Table [dbo].[AcedEmailSettings]    Script Date: 1/31/2023 12:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcedEmailSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Host] [nvarchar](max) NULL,
	[Port] [int] NULL,
	[TimeOut] [int] NULL,
	[RevenueCoordinator] [nvarchar](max) NULL,
	[TestFromAddress] [nvarchar](max) NULL,
	[PickupFolder] [nvarchar](max) NULL,
	[Identifier] [int] NULL,
 CONSTRAINT [PK_AcedEmailSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 1/31/2023 12:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Identifier] [int] NULL,
	[ContactName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Application] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AzureSettings]    Script Date: 1/31/2023 12:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzureSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tenant] [nvarchar](max) NULL,
	[TenantName] [nvarchar](max) NULL,
	[TenantId] [nvarchar](max) NULL,
	[Audience] [nvarchar](max) NULL,
	[ClientId] [nvarchar](max) NULL,
	[GraphClientId] [nvarchar](max) NULL,
	[GraphClientSecret] [nvarchar](max) NULL,
	[SignUpSignInPolicyId] [nvarchar](max) NULL,
	[AzureGraphVersion] [nvarchar](max) NULL,
	[MicrosoftGraphVersion] [nvarchar](max) NULL,
	[AadInstance] [nvarchar](max) NULL,
	[UseAdal] [bit] NULL,
	[Identifier] [int] NULL,
 CONSTRAINT [PK_AzureSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralSettings]    Script Date: 1/31/2023 12:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServicePath] [nvarchar](max) NULL,
	[ErrorMessageFromAddress] [nvarchar](max) NULL,
	[ClientValidationEnabled] [bit] NULL,
	[UnobtrusiveJavaScriptEnabled] [bit] NULL,
	[MainDatabaseConnection] [nvarchar](max) NULL,
	[Identifier] [int] NULL,
 CONSTRAINT [PK_GeneralSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MailSettings]    Script Date: 1/31/2023 12:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromAddress] [nvarchar](max) NULL,
	[Host] [nvarchar](max) NULL,
	[Port] [int] NULL,
	[TimeOut] [int] NULL,
	[PickupFolder] [nvarchar](max) NULL,
	[TestFromAddress] [nvarchar](max) NULL,
	[RevenueCoordinator] [nvarchar](max) NULL,
	[Identifier] [int] NULL,
 CONSTRAINT [PK_MailSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebPageSettings]    Script Date: 1/31/2023 12:12:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebPageSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VersionMajor] [int] NULL,
	[VersionMinor] [int] NULL,
	[VersionBuild] [int] NULL,
	[VersionRevison] [int] NULL,
	[Identifier] [int] NULL,
	[TheVersion]  AS ((((((replace(str([VersionMajor]),' ','')+'.')+replace(str([VersionMinor]),' ',''))+'.')+replace(str([VersionBuild]),' ',''))+'.')+replace(str([VersionRevison]),' ','')),
 CONSTRAINT [PK_WebPageSettings1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AcedEmailSettings] ON 

INSERT [dbo].[AcedEmailSettings] ([Id], [Host], [Port], [TimeOut], [RevenueCoordinator], [TestFromAddress], [PickupFolder], [Identifier]) VALUES (1, N'mail.oregon.gov', 25, 2000, N'WEBDEV.webdev@site.gov', N'WEBDEV.webdev@site.gov', N'MailDrop', 1)
SET IDENTITY_INSERT [dbo].[AcedEmailSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([Id], [Name], [Identifier], [ContactName]) VALUES (1, N'ACED', 1, NULL)
INSERT [dbo].[Applications] ([Id], [Name], [Identifier], [ContactName]) VALUES (2, N'KAST', 2, NULL)
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[AzureSettings] ON 

SET IDENTITY_INSERT [dbo].[AzureSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[GeneralSettings] ON 

INSERT [dbo].[GeneralSettings] ([Id], [ServicePath], [ErrorMessageFromAddress], [ClientValidationEnabled], [UnobtrusiveJavaScriptEnabled], [MainDatabaseConnection], [Identifier]) VALUES (1, N'http://localhost:44340/api/', N'WEBV.webdev@oregon.gov', 1, 0, N'Server=(localdb)\\mssqllocaldb1;Database=ApplicationConfigurations;Trusted_Connection=True', 1)
INSERT [dbo].[GeneralSettings] ([Id], [ServicePath], [ErrorMessageFromAddress], [ClientValidationEnabled], [UnobtrusiveJavaScriptEnabled], [MainDatabaseConnection], [Identifier]) VALUES (2, N'http://localhost:44341/api/', N'WEBD.webdev@oregon.gov', 1, 0, N'Server=(localdb)\\mssqllocaldb3;Database=ApplicationConfigurations;Trusted_Connection=True', 2)
SET IDENTITY_INSERT [dbo].[GeneralSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[MailSettings] ON 

INSERT [dbo].[MailSettings] ([Id], [FromAddress], [Host], [Port], [TimeOut], [PickupFolder], [TestFromAddress], [RevenueCoordinator], [Identifier]) VALUES (1, N'FromAddress1', N'Host1', 25, 1000, N'MailPickup', N'webdev@oregon.gov', NULL, 1)
INSERT [dbo].[MailSettings] ([Id], [FromAddress], [Host], [Port], [TimeOut], [PickupFolder], [TestFromAddress], [RevenueCoordinator], [Identifier]) VALUES (2, N'FromAddress2', N'Host2', 26, 3000, N'PickupMail', N'webdev@oregon.gov', NULL, 2)
SET IDENTITY_INSERT [dbo].[MailSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[WebPageSettings] ON 

INSERT [dbo].[WebPageSettings] ([Id], [VersionMajor], [VersionMinor], [VersionBuild], [VersionRevison], [Identifier]) VALUES (1, 1, 1, 1, 1, 1)
INSERT [dbo].[WebPageSettings] ([Id], [VersionMajor], [VersionMinor], [VersionBuild], [VersionRevison], [Identifier]) VALUES (2, 2, 2, 2, 2, 2)
SET IDENTITY_INSERT [dbo].[WebPageSettings] OFF
GO
ALTER TABLE [dbo].[AcedEmailSettings]  WITH CHECK ADD  CONSTRAINT [FK_AcedEmailSettings_Applications] FOREIGN KEY([Identifier])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[AcedEmailSettings] CHECK CONSTRAINT [FK_AcedEmailSettings_Applications]
GO
ALTER TABLE [dbo].[AzureSettings]  WITH CHECK ADD  CONSTRAINT [FK_AzureSettings_Applications] FOREIGN KEY([Identifier])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[AzureSettings] CHECK CONSTRAINT [FK_AzureSettings_Applications]
GO
ALTER TABLE [dbo].[AzureSettings]  WITH CHECK ADD  CONSTRAINT [FK_AzureSettings_Applications1] FOREIGN KEY([Identifier])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[AzureSettings] CHECK CONSTRAINT [FK_AzureSettings_Applications1]
GO
ALTER TABLE [dbo].[GeneralSettings]  WITH CHECK ADD  CONSTRAINT [FK_GeneralSettings_Applications] FOREIGN KEY([Identifier])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[GeneralSettings] CHECK CONSTRAINT [FK_GeneralSettings_Applications]
GO
ALTER TABLE [dbo].[MailSettings]  WITH CHECK ADD  CONSTRAINT [FK_MailSettings_Applications] FOREIGN KEY([Identifier])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[MailSettings] CHECK CONSTRAINT [FK_MailSettings_Applications]
GO
ALTER TABLE [dbo].[WebPageSettings]  WITH CHECK ADD  CONSTRAINT [FK_WebPageSettings_Applications] FOREIGN KEY([Identifier])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[WebPageSettings] CHECK CONSTRAINT [FK_WebPageSettings_Applications]
GO
USE [master]
GO
