@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @{
        HashSet<string> pages = new HashSet<string>();
        foreach (var endpoint in EndpointsDataSource.Endpoints)
        {
            foreach(var metadata in endpoint.Metadata)
            {
                if(metadata is PageActionDescriptor)
                {
                    pages.Add(((PageActionDescriptor)metadata).RelativePath);
                }
            }
        }
    }
    
    <div class="fw-bold">Pages for this application</div>
    
    <ul>
        @foreach(var pageItem in pages)
        {
            <li>@pageItem.Replace("/Pages/", "")</li>
        }
    </ul>

    <form class="form-group" method="post">

        <div class="form-group mt-2">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-outline-dark">Enter</button>
            </div>
        </div>

    </form>
</div>
