@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <form method="post">
        <input type="submit" value="Privacy" class="btn btn-primary" asp-page-handler="Privacy" />
    </form>
</div>