










@page
@model JavaScriptStylingApp.Pages.FieldSetLangPageModel
@{
}
<script src="js/stylingHelpers.js"></script>
<script src="js/languageHelper.js"></script>

<style>
    legend {
        font-weight: 900;
        border: solid 1px black;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        padding: 6px;
    }

    .required-field {
        padding: inherit;
    }

    #requiredSpan {
        padding-left: .5em;
        padding-right: .5em;
    }

    .required-field1 {
    }
</style>

@* <script src="/_framework/aspnetcore-browser-refresh.js"></script> *@

<div class="container">
    <div class="row">
        <h1 class="fs-5">Demo...</h1>
    </div>

    <div class="row" style="margin-top:5em">
        <fieldset class="border border-dark p-3 shadow">
            <legend class="float-none w-auto fs-6 fw-bold required-field">Personal information</legend>
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required-field1" for="firstName">First</label>
                </div>
                <div class="col-lg-6">
                    <input id="firstName" name="firstname" type="text" class="form-control mb-2" aria-label="First name" required />
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label for="lastName" class="required-field1">Last</label>
                </div>
                <div class="col-lg-6">
                    <input id="lastName" name="lastname" type="text" class="form-control mb-2" aria-label="Last name" required />
                </div>
            </div>
        </fieldset>
    </div>


    <div class="row" style="margin-top:5em">
        <fieldset class="border border-dark p-3 shadow">
            <legend class="float-none w-auto fs-6 fw-bold required-field1">Personal information</legend>
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required-field" for="firstName1">First</label>
                </div>
                <div class="col-lg-6">
                    <input id="firstName1" name="firstname" type="text" class="form-control mb-2" aria-label="First name" required />
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label for="lastName1" class="required-field">Last</label>
                </div>
                <div class="col-lg-6">
                    <input id="lastName1" name="lastname" type="text" class="form-control mb-2" aria-label="Last name" required />
                </div>
            </div>
        </fieldset>

        <div class="row mt-5">
            <div class="col-auto">
                <button id="changeLanguage" class="btn btn-dark">Change language attribute</button>
            </div>
        </div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {

        console.log($languageHelper.getPageLanguage());
        if ($languageHelper.getPageLanguage() === 'en') {
            document.documentElement.setAttribute('lang', 'sp');
            console.log('changed to sp');
        } else {
            document.documentElement.setAttribute('lang', 'en');
            console.log('changed to en');
        }

        setRequired();

    });

    function setRequired() {
        var languageText = '';

        if ($languageHelper.getPageLanguage() === 'en') {
            languageText = '(Required)';
        } else {
            languageText = '(Requerido)';
        }

        var requiredElements = document.getElementsByClassName('required-field');

        for (let index = 0; index < requiredElements.length; ++index) {
            const item = requiredElements[index];
            item.innerHTML += `<span id='requiredSpan' style='color:#AA4A44;font-weight:bold;'>${languageText}</span>`;
        }

    }

    document.getElementById("changeLanguage").addEventListener("click", function () {
        document.documentElement.setAttribute('lang', 'sp');
        setRequired();
    });

</script>