@page
@model JavaScriptStylingApp.Pages.FieldSetLangPageModel
@{
}
<script src="js/stylingHelpers.js"></script>
<script src="js/languageHelper.js"></script>

<style>
    legend {
        font-weight: 900;
        border: solid 1px black;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        padding: 6px;
    }

    .required-field {
        padding: inherit;
    }

    #requiredSpan {
        padding-left: .5em;
        padding-right: .5em;
    }
</style>
<div class="container">
    <div class="row">
        <h1 class="fs-5">Demo</h1>
    </div>



    @*     <div class="row">
    <div id="target1" style="border: black; border-style: solid !important; width: 30em; padding: 1em; text-align:left;">
    This is a simple element
    </div>
    </div>


    <div class="row mt-4 mb-lg-4">
    <div class="col-auto">
    <button id="forTarget1" class="btn btn-primary">Change</button>
    </div>
    <div class="col-auto">
    <button id="removeProperty" class="btn btn-primary">Remove</button>
    </div>
    <div class="col-auto">
    <button id="getStyle" class="btn btn-primary">Get</button>
    </div>
    <div class="col-auto">
    <button id="reload" class="btn btn-primary">Reload</button>
    </div>
    </div> *@

    <div class="row" style="margin-top:5em">
        <fieldset class="border border-dark p-3 shadow">
            <legend class="float-none w-auto fs-6 fw-bold required-field">Personal information</legend>
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required-field1" for="firstName">First</label>
                </div>
                <div class="col-lg-6">
                    <input id="firstName" name="firstname" type="text" class="form-control mb-2" aria-label="First name" required />
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label for="lastName" class="required-field1">Last</label>
                </div>
                <div class="col-lg-6">
                    <input id="lastName" name="lastname" type="text" class="form-control mb-2" aria-label="Last name" required />
                </div>
            </div>
        </fieldset>
    </div>


    <div class="row" style="margin-top:5em">
        <fieldset class="border border-dark p-3 shadow">
            <legend class="float-none w-auto fs-6 fw-bold required-field1">Personal information</legend>
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required-field" for="firstName1">First</label>
                </div>
                <div class="col-lg-6">
                    <input id="firstName1" name="firstname" type="text" class="form-control mb-2" aria-label="First name" required />
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label for="lastName1" class="required-field">Last</label>
                </div>
                <div class="col-lg-6">
                    <input id="lastName1" name="lastname" type="text" class="form-control mb-2" aria-label="Last name" required />
                </div>
            </div>
        </fieldset>


    </div>


</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        setRequired();
    });

    function setRequired() {
        var languageText = '';
        if ($languageHelper.getPageLanguage() === 'en') {
            languageText = '(Required)';
        } else {
            languageText = '(Requerido)';
        }
        var requiredElements = document.getElementsByClassName('required-field');
        for (let index = 0; index < requiredElements.length; ++index) {
            const item = requiredElements[index];
            item.innerHTML += "<span id='requiredSpan' style='color:#AA4A44;font-weight:bold;'>" + languageText + "</span>";
        }
    }

</script>