@page
@model WebApplication1.Pages.debuggerTestingRightModel
@{
}

@* Styles below should be in a separate file *@

<style>

    .detailsInput {
        width: 30em;
    }

    legend {
        background: #FFFACD;
        border: solid 1px black;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .oed-required {
        padding: inherit;
    }

    .ledgendSpan {
        padding-left: 10px;
        padding-right: 10px;
    }

    #submitButton {
        width: 130px;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>

<script src="lib/payne-debugger/debugHelper.min.js"></script>
<link rel="stylesheet" href="~/css/bootstrapCustom.css" asp-append-version="true" />


<div class="container">
    <div class="alert  lighten-60" role="alert">
        <h1 class="fs-4">Order forms (Using custom colors)</h1>
    </div>

    <form id="mainForm" method="post" class="mt-5">
        @* Next two elements are needed to set properties for the two selects (see JavaScript code at bottom of this file for change events) *@
        <input id="formTypeText" type="hidden" asp-for="Form.FormType" />
        <input id="currentStateText" type="hidden" asp-for="Form.CurrentState" />

        <fieldset id="mainFieldset" class="border border-dark-subtle rounded-3 p-3 mt-3 mb-3">

            <legend class="float-none w-auto fs-6 px-1" id="description">
                <span class="fw-bold ledgendSpan">Information needed to order forms</span>
            </legend>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="businessName">Business Name</label>
                </div>
                <div class="col-lg-6">
                    <input id="businessName" asp-for="Form.BusinessName" class="form-control mb-2" required />
                </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="accountNumber">Account Number</label>
                </div>
                <div class="col-lg-6">
                    <input id="accountNumber" asp-for="Form.AccountNumber" class="form-control mb-2" required />
                </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="contactPerson">Contact Person</label>
                </div>
                <div class="col-lg-6">
                    <input id="contactPerson" asp-for="Form.ContactPerson" class="form-control mb-2" required />
                </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="address">Address</label>
                </div>
                <div class="col-lg-6">
                    <input id="address" asp-for="Form.Address" class="form-control mb-2" required />
                </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="city">City</label>
                </div>
                <div class="col-lg-6">
                    <input id="city" asp-for="Form.City" class="form-control mb-2" required />
                </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="StateId">State</label>
                </div>
                <div class="col-lg-6">

                    <select name="Id" id="StateId"
                            class="form-select mb-2 personal-standard-input"
                            style="width: 15em"
                            aria-label="current state"
                            asp-for="CurrentStateIdentifier"
                            asp-items="Model.Options">
                    </select>

                </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="zipcode">Zip code</label>
                </div>
                <div class="col-lg-3">
                    <input id="zipcode" asp-for="Form.ZipCode" class="form-control mb-2" required />
                </div>
            </div>

        </fieldset>

        <fieldset>

            <legend class="float-none w-auto fs-6 px-1" id="description1">
                <span class="fw-bold ledgendSpan">Form information</span>
            </legend>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="StateId">Form type</label>
                </div>
                <div class="col-lg-6">

                    <select name="Id1" id="formTypeId"
                            class="form-select mb-2 personal-standard-input"
                            style="width: 18em"
                            aria-label="form type"
                            asp-for="CurrentFormTypeIdentifier"
                            asp-items="Model.FormTypeOptions" required="">
                    </select>

                </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="quantity">Quantity</label>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <input type="number" asp-for="Form.Quantity" id="quantity" value="1" class="form-control" required />
                    </div>
                </div>
            </div>

        </fieldset>

        <div class="row mt-3">

            <div class="col-auto" style="padding-left: 1em;">
                <input id="submitButton" type="submit" class="btn btn-primary" value="Submit" />
            </div>

        </div>

    </form>



</div>

<script>

    document.addEventListener("DOMContentLoaded", () => {
        var requiredElements = document.getElementsByClassName('oed-required');

        for (var index = 0; index < requiredElements.length; ++index) {
            var item = requiredElements[index];
            item.innerHTML += "<span style='color:#B22222;font-weight:bold'>&nbsp;&nbsp;(Required)</span>";
        }
    });

    // Used to set form type property for the form
    document.getElementById("formTypeId").addEventListener(`change`, (e) => {
        const select = e.target;
        const value = select.value;
        const desc = select.options[select.selectedIndex].text;
        document.getElementById('formTypeText').value = desc;
    });

    // Used to set user's state property for the form
    document.getElementById("StateId").addEventListener(`change`, (e) => {
        const select = e.target;
        const value = select.value;
        const desc = select.options[select.selectedIndex].text;
        document.getElementById('currentStateText').value = desc;
    });

</script>