@page
@model WebApplication1.Pages.debuggerTestingModel
@{
}
<style>
    .required:after {
        content: " (required)";
        color: red;
    }
    .detailsInput {
        width: 30em;
    }
    legend {
        background: #FFFACD;
        border: solid 1px black;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        padding: 6px;
    }

</style>
<script src="lib/payne-debugger/debugHelper.min.js"></script>


<div class="container">
    <div class="alert alert-primary" role="alert">
        <h1 class="fs-5">Demo</h1>
    </div>

    <div class="row">

        <form class="mt-5">
            <fieldset class="border border-dark-subtle rounded-3 p-3 mt-3 mb-3">

                <legend class="float-none w-auto fs-6 px-1" id="description">
                    <span class="fw-bold">Please enter this information to order forms</span>
                </legend>


                <label for="businessName" class="required specialHighlight">Business Name</label>
                <input id="businessName" class="form-control detailsInput mb-2" required/>

                <label for="accountNumber" class="required specialHighlight">Account Number</label>
                <input id="accountNumber" class="form-control detailsInput" aria-describedby="accountHelp" required/>
                <div id="accountHelp" class="form-text mb-2 fw-bold">Your account number is the first 7 digits of your BIN including leading zeroes</div>

                <label for="contactPerson" class="required">Contact Person</label>
                <input id="contactPerson" class="form-control detailsInput mb-2" required/>

                <label for="address" class="required">Address</label>
                <input id="address" class="form-control detailsInput mb-2" required/>
                <label for="address1" class="required" style="position: absolute; left: -9999em;"></label>
                <input id="address1" class="form-control detailsInput mb-2" aria-describedby="address1Help"/>
                <div id="address1Help" class="form-text mb-2 fw-bold">Added more address information if needed</div>

                <label for="cityStatePostal" class="required">City State Zip</label>
                <input id="cityStatePostal" class="form-control detailsInput mb-2" required/>

            </fieldset>

        </form>

    </div>
</div>

<script>
    /*
    * Karen code
    * CTRL+ALT+1 toggles adding/removing debugger.css
    *
    *
    * uglifyjs debugHelper.js -o debugHelper.min.js -c -m --source-map
    *
    */


</script>