@page
@model WebApplication1.Pages.debuggerTestingRightModel
@{
}

<style>

    .detailsInput {
        width: 30em;
    }

    legend {
        background: #FFFACD;
        border: solid 1px black;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        padding: 6px;
    }

</style>

<script src="lib/payne-debugger/debugHelper.min.js"></script>

<div class="container">

    <form class="mt-5">
        <fieldset class="border border-dark-subtle rounded-3 p-3 mt-3 mb-3">
            
            <legend class="float-none w-auto fs-6 px-1" id="description">
                <span class="fw-bold">Information needed to order forms</span>
            </legend>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="businessName">Business Name</label>
                </div>
                <div class="col-lg-6">
                    <input id="businessName" class="form-control mb-2" required/>
                </div>
            </div>
            
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="accountNumber">Account Number</label>
                </div>
                <div class="col-lg-6">
                    <input id="accountNumber" class="form-control mb-2" required />
                </div>
            </div>
            
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="contactPerson">Contact Person</label>
                </div>
                <div class="col-lg-6">
                    <input id="contactPerson" class="form-control mb-2" required />
                </div>
            </div>
            
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="address">Address</label>
                </div>
                <div class="col-lg-6">
                    <input id="address" class="form-control mb-2" required />
                </div>
            </div>

            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="city">City</label>
                </div>
                <div class="col-lg-6">
                    <input id="city" class="form-control mb-2" required />
                </div>
            </div>
            
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="state">State</label>
                </div>
                <div class="col-lg-6">
                    <select name="CurrentState"
                            id="state"
                            class="form-select mb-2 personal-standard-input"
                            style="width: 15em"
                            aria-label="current state"
                            asp-items="Model.Options">
                    </select>
                </div>
            </div>
            
            <div class="row">
                <div class="d-flex justify-content-between">
                    <label class="required specialHighlight oed-required" for="zipcode">Zip code</label>
                </div>
                <div class="col-lg-3">
                    <input id="zipcode" class="form-control mb-2" required />
                </div>
            </div>

        </fieldset>

    </form>
</div>

<script>

    document.addEventListener("DOMContentLoaded",
        () => {
            var requiredElements = document.getElementsByClassName('oed-required');

            for (var index = 0; index < requiredElements.length; ++index) {
                var item = requiredElements[index];  
                item.innerHTML += "<span style='color:#B22222;font-weight:bold'>&nbsp;&nbsp;(Required)</span>";
            }
        });


</script>