@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@* <link rel="stylesheet" href="css/debugger.css" /> *@
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Routing
@using WebApplication1.Classes
@inject EndpointDataSource EndpointsDataSource

<div class="container" id="mainContainer">
    
    @{
        HashSet<string> pages = new();
        foreach (var endpoint in EndpointsDataSource.Endpoints)
        {
            foreach(var metadata in endpoint.Metadata)
            {
                if(metadata is PageActionDescriptor descriptor)
                {
                    pages.Add(descriptor.RelativePath);
                }
            }
        }

        var list = pages.ToList();
    }
    <ul>
       @*@foreach(var p in pages)
        {
            <li>@p</li>
        } *@
        @for (int index = 0; index < list.Count; index++)
        {
            if (index.IsEven())
            {
                <li class="fw-bold text-primary">@list[index]</li>
            }
            else
            {
                <li class="fw-bold">@list[index]</li>
            }
        }
    </ul>

</div>








