@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@* <link rel="stylesheet" href="css/debugger.css" /> *@
<style>
    .bodyText_bottom_head {
        background-color: #0f506f;
        color: #FFFFFF;
        text-align: center;
        padding: 6px 0;
    }

    .popularLink_light {
        color: #bfc4cd;
        line-height: 15px;
        text-decoration: underline;
        text-transform: lowercase;
    }

    .gm1inner {
        background-color: #0f506f;
        width: 100%;
        text-align: center;
        color: #ffffff;
        padding: 6px;
        margin-top: 1.5em;
    }

    .bodyTextPadding_bold {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        line-height: 15px;
        font-weight: bold;
        color: #AA0000;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 6px;
    }
</style>



<div class="container" id="mainContainer">
    


</div>




@section Scripts
    {
    <script>
        document.addEventListener("DOMContentLoaded",
            () => {

        


            });




    </script>
}




