@page
@model PrivacyModel
@{
    ViewData["Title"] = "Styling unordered list";
}


<style>

    h1 {
        color: royalblue;
        text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    }

    ul ::marker {
        color: #00b7a8;
    }
    

    #demo li:not(:last-child)::after, 
    #demo1 li:not(:last-child)::after, 
    #demo2 li:not(:last-child)::after {
        content: ','
    }


    .special {
        box-shadow: 0 10px 20px 2px rgba(239,215,211,0.7);
    }

    .special:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 10px 0 rgba(108,122,137,0.7);
    }

    fieldset {
        border-radius: 8px;
    }

    legend {
        position: relative;
        font-weight: lighter;
        padding-left: 1px;
        padding-right: 3px;
    }

    .row {
        margin-top: 1em;
    }

</style>

<div role="main">
    <h1 class="fs-5">@ViewData["Title"]</h1>
    <div class="alert alert-light shadow" role="alert">
       An HTML list element should be used when items need to be semantically grouped. Screen readers will notify the user that there is a list, and the number of items. If you think about, say, a grid of products on a shopping site, knowing this information would be very helpful. Therefore, using a list element might be a good choice.
    </div>

    <div class="row">
        <div class="col-auto">
            <fieldset style="width: 10em" class="border border-dark ps-2 special">
                <legend class="float-none w-auto fs-6">Day names 1</legend>
                <ul>
                    <li>Sunday</li>
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                    <li>Saturday</li>
                </ul>
            </fieldset>

        </div>
        <div class="col-auto">
            <fieldset style="width: 10em" class="border border-dark ps-2 special">
                <legend class="float-none w-auto fs-6">Day names 2</legend>
                <ul id="demo">
                    <li>Sunday</li>
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                    <li>Saturday</li>
                </ul>
            </fieldset>

        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <fieldset style="width: 10em" class="border border-dark ps-2 special">
                <legend class="float-none w-auto fs-6">Day names 3</legend>
                <ol>
                    <li>Sunday</li>
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                    <li>Saturday</li>
                </ol>
            </fieldset>

        </div>
        <div class="col-auto">
            <fieldset style="width: 10em" class="border border-dark ps-2 special">
                <legend class="float-none w-auto fs-6">Day names 4</legend>
                <ol id="demo1" start="8">
                    <li>Sunday</li>
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                    <li>Saturday</li>
                </ol>
            </fieldset>

        </div>
    </div>
    
    <div class="row">
        <div class="col-auto">
            <fieldset style="width: 10em" class="border border-dark ps-2 special">
                <legend class="float-none w-auto fs-6">Day names 5</legend>
                <ol reversed="">
                    <li>Sunday</li>
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                    <li>Saturday</li>
                </ol>
            </fieldset>

        </div>
        <div class="col-auto">
            <fieldset style="width: 10em" class="border border-dark ps-2 special">
                <legend class="float-none w-auto fs-6">Day names 6</legend>
                <ol id="demo2" start="14" reversed="">
                    <li>Sunday</li>
                    <li>Monday</li>
                    <li>Tuesday</li>
                    <li>Wednesday</li>
                    <li>Thursday</li>
                    <li>Friday</li>
                    <li>Saturday</li>
                </ol>
            </fieldset>

        </div>
    </div>
    



    <div class="row">
        <div class="col-auto">

        </div>
    </div>

</div>
