@page
@model WebApplication1.Pages.SelectExamplesModel
@{
    Layout = null;
}
<link href="css/selects.css"/>

<div class="container">
    <form action="#" autocomplete="off" method="get">

        <fieldset class="border border-dark-subtle rounded-3 p-3 mt-3 mb-3">
        
            <legend class="float-none w-auto fs-6 px-1">
                <span class="fw-bold">Basic</span>
            </legend>
            <div>
                <label for="pet-select-01">Choose a pet</label>
                <select name="pets" id="pet-select-01">
                    <option value="">One of these cuddly options…</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="hamster">Hamster</option>
                    <option value="parrot">Parrot</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                </select>
            </div>
        </fieldset>

        <fieldset class="border border-dark-subtle rounded-3 p-3 mt-3 mb-3">

            <legend class="float-none w-auto fs-6 px-1">
                <span class="fw-bold">Spaced Text</span>
            </legend>

            <div>
                <label for="pet-select-02">Choose a pet</label>
                <select name="pets" id="pet-select-02">
                    <option value="">One of these cuddly options…</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="hamster">Hamster</option>
                    <option value="parrot">Parrot</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                </select>
            </div>
        </fieldset>



  
    </form>
</div>
