@page 
@model MapRouteTemple1.Pages.DateArticleModel
@{
}

<h3><span class="fw-bold">Title</span> @Model.Title</h3>
<p><span class="fw-bold">Published</span> @Model.DateTime.ToString("d")</p>

<a class="btn btn-primary"  asp-page="/Index">Home</a>

