@page 
@model MapRouteTemplate2.Pages.View1Model
@{
}

<p><span class="fw-bold">First</span> @Model.Person.FirstName</p>
<p><span class="fw-bold">Last</span> @Model.Person.LastName</p>
<p><span class="fw-bold">SSN</span> @Model.Person.SSN</p>