@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="text-success fs-1">Using Parameter Transformers To Modify Route And Parameter Values</div>
</div>
