@page
@model DropdownEumRazorPages.Pages.ReceivingModel
@{
}

<p>Your selection <span style="color:cornflowerblue;font-weight: bold">@Model.Category</span></p>

<a class="btn btn-primary" asp-area="" asp-page="/Index">Back</a>