@page
@model NotesRazorApp.Pages.EditNoteModel

@{
    ViewData["Title"] = "EditNote";
}


<h3 class="text-primary mt-2">Edit</h3>

<hr />
<div class="container">


    <div class="row">
        <div class="col-10">
            <form method="post">

                <input type="hidden" asp-for="Note.NoteId" />

                <div>
                    <label asp-for="Note.BodyText" class="text-primary"></label>

                    <textarea asp-for="Note.BodyText"
                              class="form-control mb-2"
                              rows="1"
                              placeholder="required"
                              aria-required="true">

                    </textarea>

                    <span asp-validation-for="Note.BodyText" class="text-danger"></span>
                </div>

                <div class="col-sm-5">
                    <label asp-for="Note.DueDate" class="text-primary"></label>

                    <input asp-for="Note.DueDate"
                           class="form-control mb-3 me-4"
                           style="width: 210px"
                           aria-required="true" />

                    @*<span asp-validation-for="Note.DueDate" class="text-danger"></span>*@
                </div>

                <div class="form-check form-switch">
                    <input asp-for="Note.Completed" type="checkbox" class="form-check-input" />
                    <label asp-for="Note.Completed" class="text-primary"></label>
                </div>

                <div>
                    <label for="categories"
                           asp-for="Note.CategoryId"
                           class="mt-2 text-primary">
                        Category
                    </label>
                    <select id="categories"
                            asp-for="Note.Category.CategoryId"
                            class="form-select mb-2"
                            style="width: 200px"
                            asp-items="ViewBag.CategoryName">
                    </select>
                    @*<span asp-validation-for="Note.CategoryId" class="text-danger"></span>*@
                </div>

                <div class="btn-group-sm" role="group">
                    <input type="submit" value="Save" class="btn btn-primary custombtnGroup me-2" />
                    <a asp-page="/ViewNotes" class="btn btn-primary custombtnGroup">Back to List</a>
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
}
