@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="alert alert-success text-center" role="alert">
    See <span class="fw-bold">footer</span> for values read from <span class="fw-bold">appsettings.json</span> in <span class="fw-bold">_Layout</span>
</div>

