@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="css/steps.css" />

<h1 class="fs-6">Basic stepper example</h1>

<div class="stepwizard" role="group" aria-label="progress">

    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" id="step1" class="stepMarker btn btn-default btn-circle">1</button>
            <p>Start</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" id="step2" class="stepMarker btn btn-default btn-circle" disabled="disabled">2</button>
            <p>In review</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" id="step3" class="stepMarker btn btn-primary btn-circle" disabled="disabled">3</button>
            <p>In progress</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" id="step4" class="stepMarker btn btn-default btn-circle" disabled="disabled">4</button>
            <p>Decision</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" id="step5" class="stepMarker btn btn-default btn-circle" disabled="disabled">5</button>
            <p id="finalResult"></p>
        </div>
    </div>
</div>

<div class="container form-group mt-lg-1 pb-2 ml-4 w-50 mx-auto " id="stepsContainer">

    <fieldset class="border rounded-3 border-primary p-1">
        <legend class="float-none w-auto fs-6 px-1 bg-light" id="description"><span class="fw-bold">Status</span></legend>

        <div class="form-row" id="main-content">
            <div class="col">

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="groupSteps" id="option1" value="step1">
                    <label class="form-check-label" for="option1">
                        Claim application
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="groupSteps" id="option2" value="step2">
                    <label class="form-check-label" for="option2">
                        Claim in review
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="groupSteps" id="option3" value="step3" checked>
                    <label class="form-check-label" for="option3">
                        Claim in progress
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="groupSteps" id="option4" value="step4">
                    <label class="form-check-label" for="option4">
                        Decision
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="groupSteps" id="option5" value="step5">
                    <label class="form-check-label" for="option5">
                        Result
                    </label>
                </div>
            </div>
        </div>
    </fieldset>

</div>

<div class="container form-group  mt-lg-1 pb-2 ml-4 w-50 mx-auto" id="optionsContainer">
    <fieldset class="border rounded-3 border-success p-1">
        <legend class="float-none w-auto fs-6 px-1 bg-light" id="resultChoices"><span class="fw-bold">Choices</span></legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="userChoice" id="acceptedOption">
            <label class="form-check-label" for="acceptedOption">
                Accepted
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="userChoice" id="rejectedOption" checked>
            <label class="form-check-label" for="rejectedOption">
                Rejected
            </label>
        </div>
    </fieldset>

</div>



@section Scripts
    {
    <script src="js/StepOperations.js"></script>
    <script src="js/steps.js"></script>
}

