@page
@model AnchorTagHelper1.Pages.AboutModel
@{
}

<div class="container">
    <form method="post" asp-page-handler="Button1" class="mt-5">
        <div class="card mt-5" style="width: 29rem;">
            <div class="card-body">
                <h5 class="card-title">Working with parameters</h5>
                <p class="card-text">Provides several basic methods to pass data between pages</p>
                <input type="submit" value="Home" class="btn btn-primary w-100"/>
            </div>
        </div>
    </form>
</div>
