@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5"><span class="fw-bold">asp-all-route-data</span> <span class="text-primary">example</span></h1>
</div>
