@page
@model AnchorTagHelper1.Pages.IntroductionModel
@{
}

<div class="container">
    <h1 class="fs-5 text-danger">What is your Name?</h1>
    <p>Please enter your Name:</p>
    <form name="NameForm" id="NameForm" method="post">
@*         Name:
        <br />
        <input name="FullName" type="text" class="form-control w-25" autofocus required />
        <br /> *@

        <div class="row">

            <div class="col-sm-5">
                <label asp-for="FullName" class="text-primary"></label>

                <input asp-for="FullName"
                       class="form-control mb-3 me-4"
                       aria-required="true" />


            </div>
        </div>

        <input id="OKButton" type="submit" value="OK" class="btn btn-primary" />
    </form>
</div>