@page
@model AnchorTagHelper1.Pages.PersonPage2Model
@{
}

<div class="container">
    <div class="alert alert-primary w-25" role="alert">
        QueryStringHelpers
    </div>
    <form method="post">
        <input type="hidden" asp-for="Person.Id" />

        <div>
            <label asp-for="Person.FirstName" class="text-primary"></label>
            <input asp-for="Person.FirstName" class="form-control mb-2 w-25" />
        </div>

        <div>
            <label asp-for="Person.LastName" class="text-primary"></label>
            <input asp-for="Person.LastName" class="form-control mb-2 w-25" />
        </div>

        <div>
            <label asp-for="Person.BirthDate" class="text-primary"></label>
            <input asp-for="Person.BirthDate" type="date" class="form-control mb-2 w-25" />
        </div>

        <div>
            <input id="OKButton" type="submit" value="OK" class="btn btn-primary" />
        </div>
    </form>
</div>
