@page "/{key1}/key2/{key2}"
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<p>First parameter 1<span class="fw-bold"> @Model.Parm1</span></p>
<p>Second parameter <span class="fw-bold">@Model.Parm2</span></p>
