/* cellpadding */
th, td {
    padding: 0;
}

/* cellspacing */
table {
    border-collapse: separate;
    border-spacing: 0;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* align (center) */
table {
    margin: 0 auto;
}