@page
@model KP_RazorPagesEntityFramework.Pages.AboutModel
@{
}

<div class="container border border-dark border-1 mt-4">
    <div class="row">

        <div style="background-color: #0f506f" class="text-white text-center p-2">
            Presenting SettingsManager (copy of index page)
        </div>

    </div>
</div>

<div class="card mt-4 mb-4 bg-light">
    <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">
            This project is for simple testing of <span class="badge bg-secondary" style="width: 6.55rem;">SettingManager</span>  class which reads configurations for a specific application.
        </p>

        <ul class="list-group">
            <li class="list-group-item">Uses Dependency Injection</li>
            <li class="list-group-item ">All setting except configuration database are read in SQL-Server</li>
            <li class="list-group-item ">Used <mark>.NET Core 7</mark></li>
            <li class="list-group-item ">Used <mark>EF Core 7</mark></li>

        </ul>
    </div>
</div>