@page
@model CheckedListBox.Pages.AboutModel
@{
}

<div class="container" >
    <p>This project is about setting <span class="fw-bold">aria-checked</span></p>  
    <a asp-page="/Index1" id="main-content">home</a>
</div>
