@page
@model CheckedListBox.Pages.AboutModel
@{
}

<div class="container">
    <h1 class="fs-3 text-center">About</h1>
    <p>This project is about setting <span class="fw-bold">aria-checked</span> using <mark>CheckboxAriaTagHelper</mark></p>
    <p>Required <mark>using CheckedListBox *, CheckedListBox</mark> to be added in the <mark>Views/Shared/_ViewImports.cshtml</mark> file</p>
    <a asp-page="/Index1" id="main-content" class="btn btn-outline-primary">Index1</a>
</div>
