@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row mb-3">
    <div class="col-5 bg-light text-success fw-bold">
        Lights and accessories 1
    </div>
</div>

<div class="container">

    <form method="post">

            @for (var index = 0; index < Model.JobTypes.Count(); index++)
            {

                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@Model.JobTypes[index].Text" name="AreTypes" id="@Model.JobTypes[index].Value"/>
                    <label class="form-check-label" for="@Model.JobTypes[index].Value">@Model.JobTypes[index].Text</label>
                    </div>
                </div>
            
            }

        <div class="row mt-2">
            <input type="submit" class="btn btn-primary" value="submit" style="width: 130px;"/>
        </div>

    </form>

</div>


