@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row mb-3">
    <div class="col-4 bg-light text-success fw-bold">
        Lights and accessories
    </div>
</div>

<div class="container">

    <form method="post">

        <div class="form-check-inline">

            @for (var index = 0; index < Model.JobTypes.Count(); index++)
            {
                var name = $"cb{index}";

                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@Model.JobTypes[index].Text" name="AreTypes" id=@name/>
                        <label class="form-check-label" for=@name>@Model.JobTypes[index].Text</label>
                    </div>
                </div>

            }
        </div>

        <div class="row mt-2">
            <input type="submit" class="btn btn-primary" value="submit" style="width: 130px;"/>
        </div>

    </form>

</div>


