@page
@model ConditionalLayout.Pages.AboutModel
@{
    Layout = "Shared/_OtherLayout.cshtml";
}

@section RightSide
{
    <div style="color: azure">Demo on About page</div>
}

<p>Example for changing layouts and also conditional navigation link</p>