@page
<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container">
    <div class="row">
        <div class="form-floating mb-3 col-4">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>

    </div>
    <div class="row">
        <div class="form-floating mb-3 col-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
    </div>
</div>