@page
@model SweetAlertExamples.Pages.ConfirmationPageModel
@{
}

<style>
    .swal2-confirm {
        margin-right: 20px;
    }
</style>

<div class="container">

    <form method="post" id="form1">
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="hidden" asp-for="Confirmation" id="_confirmation" />
         
            <ul class="list-group ms-1">
                <li class="list-group-item list-group-item-primary">Ask question</li>
                <li class="list-group-item list-group-item-info">Set property</li>
                <li class="list-group-item list-group-item-primary">Post</li>
                <li class="list-group-item list-group-item-info">Back to index page</li>
            </ul>
    
            <input type="button" class="btn btn-primary mt-lg-4" value="Question" id="confirmLink" onclick="GetConfirmation()" />
        </div>
    </form>

</div>
@section scripts{

    <script>
        function GetConfirmation() {
            (async () => {

                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-primary',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                })

                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    html: "You <strong>won't</strong> be able to revert this!",
                    //icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#_confirmation").val(true);
                        document.getElementById("form1").submit();
                    } else if (result.isDismissed) {
                        $("#_confirmation").val(false);
                        document.getElementById("form1").submit();
                    } else if (result.dismiss === Swal.DismissReason.cancel) 
                    {
                        $("#_confirmation").val(false);
                        document.getElementById("form1").submit();
                    }
            })
        }) ()
    }
    </script>

}

