@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["message"] = "Sweet alert code samples";
}

<script src="js/index.js"></script>
<link rel="stylesheet" href="css/toast.css" />
<script language="javascript" src="js/SweetDialogs.js"></script>

<div class="container">


    <div class="d-flex justify-content-center text-center w-75 position-absolute top-50 start-50 translate-middle">
        <p class="card-text fs-4">Provides several code samples using <a href="https://sweetalert2.github.io" target="_blank">sweet alert</a></p>
    </div>

    <form method="post" id="form1" class="mt-5">
        <div class="d-grid gap-2 col-6 mx-auto">

            <input type="hidden" asp-for="IpAddress" id="_ipAddress" />

            <div class="row">
                <button type="button" id="getAddress" class="btn btn-primary">Enter IP Address</button>
            </div>

        </div>
        <span class="text-danger fw-bold">message</span>
    </form>
    <div class="row">
        <div class="col-auto">
            <button id="messageBoxButton" class="btn btn-primary">Message box</button>
            
        </div>
    </div>
</div>

<script>
    document.getElementById('getAddress').addEventListener("click", function () {
        GetIpAddressInput();
    });

    document.getElementById("messageBoxButton").addEventListener("click", function() {
        $SweetDialogs.messageBox('<span style="color: royalblue; font-weight: 700;text-shadow: 2px 4px 4px rgba(46,91,173,0.6);">Alert</span>', 'This is an <strong>message</strong> to read.\nddd');
        //$SweetDialogs.exceptionBox('Something went wrong.', '<a href="https://sweetalert2.github.io" target="_blank">Contact administrator</a>');
    });

    window.onload = function () {

        

        const toast = Swal.mixin({
            toast: true,
            position: 'bottom-end',
            iconColor: 'white',
            customClass: { popup: 'colored-toast' },
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });

        toast.fire({
            icon: 'info',
            title: '@ViewData["message"]'
        });

        
    };
</script>



