@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="js/index.js"></script>

<div class="container">

    <form method="post">
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="hidden" asp-for="IpAddress" id="_ipAddress" />

            <div class="row">
                <button type="button" class="btn btn-primary" onclick="AddProduct()">New Product</button>
            </div>

            <div class="row">
                <button type="button" class="btn btn-primary" onclick="GetIpAddressInput()">Get IP Address</button>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-primary" value="Get Ip address" asp-page-handler="AskForIpAddress">Log IP Address</button>
            </div>

            <p id="ShowResult1"></p>
            <p id="ShowResult2"></p>

        </div>
    </form>

</div>
