@page
@model QuestionPageModel
@{
}

<div class="container">


    <div class="d-flex justify-content-center text-center w-75 position-absolute top-50 start-50 translate-middle">
        <p class="card-text fs-4">Provides several code samples using <a href="https://sweetalert2.github.io" target="_blank">sweet alert</a></p>
    </div>

    <form method="post" id="form1" class="mt-5">
        <input type="hidden" asp-for="Result" id="_result" />
        <div class="d-grid gap-2 col-6 mx-auto">

            <div class="row">
                <button type="button" id="askQuestion" class="btn btn-primary">Question</button>
            </div>

        </div>

    </form>

</div>

<script>
    document.getElementById('askQuestion').addEventListener("click", function () {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger me-3'
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            html: "You won't be able to revert this!</br>There is no <strong>escape</strong> by clicking outside this dialog",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            allowOutsideClick: false,
            allowEscapeKey: false,
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("_result").value = true;
                swalWithBootstrapButtons.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                );
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                document.getElementById("_result").value = false;
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your imaginary file is safe :)',
                    'error'
                );
            }

            $("#form1").submit();
        });
    });


</script>



