@page
@model DropdownForCountries.Pages.ExampleModel

@{
    ViewData["Title"] = "Example";
}

<div class="container">
    <form method="post">
    
        <div class="row">
            <div class="col-md-3">
                <select id="selectCountries" name="Id" class="form-select" asp-items="@Model.CountryList">
                    <option value="0">--Select--</option>
                </select>
            </div>

            @* present message a country needs to be selected *@
            <div id="error" class="fw-bold text-danger">
                @{
                    @Model.ErrorMessage
                }
            </div>
        </div>

        <input type="hidden" name="Name" />

        <div class="row mt-2">
            <div class="col-6">
                <input type="submit" class="btn btn-primary" value="Submit" asp-page-handler="Submit" />
            </div>
            
        </div>
    </form>
    
    <div id="note">
        @if (ViewData["ErrorFlag"] != null)
        {
            <script>
                alert(@Html.Raw(ViewData["ErrorFlag"]));
            </script>
        }
    </div>
</div>

