@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container border border-dark border-1 mt-4">

    <div class="row">

        <div style="background-color: #0f506f" class="text-white text-center p-2 shadow">
            Dropdown list using EF Core 7
        </div>

    </div>

</div>

<div class="container">
    @{
        if (Model.Country is { })
        {
            <div class="row">

                <div class="alert alert-success w-25 mt-3 shadow" role="alert">
                    Selected country: @Html.Raw(@Model.CountryName)
                </div>

            </div> 
        }
    }
</div>

