@page
@model EnvironmentApplication.Pages.DetailsModel
@{
}

<div class="w-25">
    <label asp-for="Taxpayer!.FirstName" class="text-primary"></label>
    <input asp-for="Taxpayer!.FirstName" class="form-control mb-3 me-4" />

    <label asp-for="Taxpayer!.LastName" class="text-primary"></label>
    <input asp-for="Taxpayer!.LastName" class="form-control mb-3 me-4" />

    <label asp-for="Taxpayer!.Ssn" class="text-primary"></label>
    <input asp-for="Taxpayer!.Ssn" class="form-control mb-3 me-4" />

    <label asp-for="Taxpayer!.Pin" class="text-primary"></label>
    <input asp-for="Taxpayer!.Pin" class="form-control mb-3 me-4" />
</div>
