@page
@model EnvironmentApplication.Pages.SectionsModel
@{
}

<div class="container">

    <div class="row mt-lg-5">
        <div class="col-8  border border-primary">
            <div class="row">
                <div class="col-12">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duarum enim vitarum nobis erunt instituta capienda. Est, ut dicis, inquam. Falli igitur possumus. Immo videri fortasse. Gloriosa ostentatio in constituendo summo bono. Respondent extrema primis, media utrisque, omnia omnibus. </p>

                    <p>Haec dicuntur inconstantissime. Duo Reges: constructio interrete. Nunc vides, quid faciat. </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est enim effectrix multarum et magnarum voluptatum. Quorum altera prosunt, nocent altera. Duo Reges: constructio interrete. Verum hoc idem saepe faciamus. </p>

                    <p>Quos quidem tibi studiose et diligenter tractandos magnopere censeo. Ut aliquid scire se gaudeant? Sequitur disserendi ratio cognitioque naturae; Quod ea non occurrentia fingunt, vincunt Aristonem; </p>

                    <p>Quid, de quo nulla dissensio est? Sedulo, inquam, faciam. Si longus, levis dictata sunt. Huius ego nunc auctoritatem sequens idem faciam. </p>
                </div>
            </div>
        </div>
        <div class="col-4  border border-danger">
            <div class="row">
                <div class="col-12">
                    The view of the earth from the moon fascinated me - a small disk, 240,000 mniles away. 
                    It was hard to think that that little thing held so many problems, so many frustrations. 
                </div>
            </div>
        </div>
    </div>

</div>
